@section Scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="row">
	<div style="margin-top:100px">
	Được giới thiệu từ 2015, Bức tường Tiger (Tiger Wall) là chuỗi sự kiện truyền
	cảm hứng cho giới trẻ vượt qua những thử thách trong cuộc sống, theo đuổi
	đam mê, khát vọng để thực hiện giấc mơ của bản thân.
	Sử dụng ứng dụng Tiger Wall, đăng ký trở thành viên để được hưởng những
	quyền lợi đặc biệt như:
	</div>
	<ul style="margin-top:50px">
		<li>Đăng ký chơi các thử thách của bức tường Tiger trực tuyến</li>
		<li>Ưu tiên chẹck in tham gia chơi qua cổng riêng nhanh chóng thuận lợi</li>
		<li>Tích điểm để nhận những phần quà hấp dẫn</li>
		<li>
			Được cập nhật thông tin mới nhất về các hoạt động của sự kiện bức tường
			Tiger
		</li>
	</ul> 
	
</div>